.navbar {
    overflow: hidden;
    background-image:url(bannière.png);
    background-size: cover;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    width: 100%;
    z-index: 100;
    padding: 0px;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
    border-right: 1px solid #bbb;
}

.logoGG{
    border-radius: 15px;   /* arrondit les coins */
    overflow: hidden;      /* évite que l’image déborde */
    margin-top: 10px;
    margin-left:20px;
    margin-bottom: 10px;
}